* {
  --border-color: #957125;
}
body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    0deg,
    rgba(195, 150, 34, 1) 0%,
    rgba(231, 178, 65, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  height: 100%;

  display: grid;
  grid-template-areas:
    "navbar navbar"
    "left-description main"
    "footer footer";
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto;
}
.navbar {
  height: auto;
  grid-area: navbar;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-color: var(--border-color);
}
.footer {
  grid-area: footer;
  align-self: center;
  height: 100%;
  border-top-style: solid;
  border-color: var(--border-color);
}

.left-description {
  grid-area: left-description;
  border-right-style: solid;
  border-color: var(--border-color);
  font-size: 30px;
}
.main {
  grid-area: main;
  height: auto;
  width: auto;
}
.big-nums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  height: 95%;
  width: 95%;
  gap: 10px;
}
.nav-link {
  height: auto;
  font-size: 200%;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgb(41, 10, 128) 0%,
    rgb(32, 184, 218) 100%
  );
  color: cornsilk;
  font-family: Impact, Charcoal, sans-serif;
  text-transform: capitalize;
  padding: 1px 10px;
}
.home {
  margin-right: 50px;
  background: linear-gradient(
    0deg,
    rgb(153, 15, 68) 0%,
    rgb(236, 86, 136) 100%
  );
}
a {
}
.big-num {
  font-size: 500%;
  --width: 200px;
  height: var(--width);
  width: var(--width);
  margin: 10px;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}
